/build
/tmp
/.vagrant
/debian/files
/debian/debhelper-build-stamp
/debian/virtual-box-tools
/debian/virtual-box-tools.substvars
/documentation/man/*.1
/.scannerwork
/dist
/.coverage
/.cache
/.tox
/.pytest_cache
/.mypy_cache
*.egg-info
*.pyc
/running-vms.txt
