pep8 # style check
pylint # style check
flake8 # style check
pyenchant # pylint spell check plugin
pytest # test framework
pytest-cov # pytest coverage plugin

# helper classes
git+https://git@github.com/FunTimeCoding/python-utility.git#egg=python-utility
